/* Put into ~/.config/gtk-3.0/gtk.css */

.panel {
    background-color: transparent;
}

/* Keep transparent, even when maximized */

.panel.maximized {
    background-color: transparent;
}

/* Dark text for light wallpaper  */

.composited-indicator > revealer label,
.composited-indicator > revealer image,
.composited-indicator > revealer spinner,
.panel.color-light .composited-indicator > revealer label,
.panel.color-light .composited-indicator > revealer image,
.panel.color-light .composited-indicator > revealer spinner {
    color: alpha (#000, 0.65);
    text-shadow:
        0 0 2px alpha (#fff, 0.3),
        0 1px 0 alpha (#fff, 0.25);
    -gtk-icon-shadow:
        0 0 2px alpha (#fff, 0.3),
        0 1px 0 alpha (#fff, 0.25);
}
