/*
	Create if not yet existing:
	~/.config/gtk-3.0/gtk.css
*/

.composited-indicator > revealer label,
.composited-indicator > revealer image,
.composited-indicator > revealer spinner,
.panel.color-light .composited-indicator > revealer label,
.panel.color-light .composited-indicator > revealer image,
.panel.color-light .composited-indicator > revealer spinner {
    color: #fff;
    font-weight: bold;
    text-shadow:
        0 0 2px alpha (#000, 0.3),
        0 1px 2px alpha (#000, 0.6);
    transition: all 200ms ease-in-out;
    -gtk-icon-shadow:
        0 0 2px alpha (#000, 0.3),
        0 1px 2px alpha (#000, 0.6);
}